* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: #1a1c28;
}

main {
  /* width: auto; */
  /* margin: auto; */
  /* background-color: bisque; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: larger;
  display: grid;
  /* height: 50vh; */
  /* width: 50vh; */
  grid-template-areas:
    "a a a a b b"
    "c c c d d d";
}

main div {
  padding: 20px;
  text-align: center;
}

.topdiv {
  /* width: 100%; */
}

.bottomdiv {
  /* width: 100%; */
}

#tomato {
  background-color: #eb5020;
  grid-area: a;
  /* width: 60%; */
}

#gold {
  background-color: #ffa401;
  grid-area: b;
}

#apple {
  background-color: #05aa42;
  grid-area: c;
}

#berry {
  background-color: #01aefd;
  grid-area: d;
}
