* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: #1a1c28;
  display: flex;
  place-items: center;
  /* min-height: 100vh; */
  margin-top: 10%;
}

main {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: larger;
  display: grid;
  grid-template-areas:
    "a a a a b b"
    "c c c d d d"
    "c c c e e e";
  gap: 15px;
  width: 50%;
  margin: auto;
}

main div {
  padding: 20px;
  text-align: center;
}

#tomato {
  color: #eb5020;
  background-color: #eb5020;
  grid-area: a;
}

#gold {
  color: #ffa401;
  background-color: #ffa401;
  grid-area: b;
}

#apple {
  color: #05aa42;
  background-color: #05aa42;
  grid-area: c;
}

#berry1 {
  color: #01aefd;
  background-color: #01aefd;
  grid-area: d;
}

#berry2 {
  color: #01aefd;
  background-color: #01aefd;
  grid-area: e;
}
