* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: black;
  /* align-items: 50%; */
  /* justify-content: center; */
}

main {
  height: 70vh;
  width: 70vh;
  margin: 20vh;
  border-radius: 5px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
}

.sedan {
  color: white;
  background-color: #e28525;
  height: auto;
}

.suvs {
  color: white;
  background-color: #016972;
}

.luxury {
  color: white;
  background-color: #00403f;
}

.fixed {
  border-radius: 5px;
  display: flex;
  padding: 0% 10%;
  height: 70%;
}
