* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: black;
  /* align-items: 50%; */
  /* justify-content: center; */
}

main {
  height: 80vh;
  width: 160vh;
  margin: 10vh 25vh;
  border-radius: 5px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
}

.icons {
  margin-bottom: 5px;
}

.sedan {
  padding: 5%;
  color: white;
  background-color: #e28525;
  height: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.suvs {
  padding: 5%;
  color: white;
  background-color: #016972;
  height: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.luxury {
  padding: 5%;
  color: white;
  background-color: #00403f;
  height: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.fixed {
  /* border: 5px solid; */
  border-radius: 10px;
  display: flex;
  margin: 0% 15%;
  height: 70%;
}
